LINEAR_API_KEY=lin_api_xxx
LINEAR_TEAM_ID=team_xxx
LINEAR_STATE_ID_IN_PROGRESS=state_xxx
LINEAR_STATE_ID_DONE=state_xxx
LINEAR_STATE_ID_CANCELED=state_xxx

# Subscription usage (prefered)
CLAUDE_CODE_OAUTH_TOKEN=
# Api usage
ANTHROPIC_API_KEY=