LINEAR_API_KEY=lin_api_xxx
LINEAR_TEAM_ID=team_xxx
LINEAR_STATE_ID_IN_PROGRESS=state_xxx
LINEAR_STATE_ID_DONE=state_xxx
LINEAR_STATE_ID_CANCELED=state_xxx

# Subscription usage (prefered)
CLAUDE_CODE_OAUTH_TOKEN=
# Api usage
ANTHROPIC_API_KEY=

# Where do we store docker images
DEVCONTAINER_REGISTRY_URL=localhost:5001/the-furnace
DEVCONTAINER_REGISTRY_TOKEN=local-registry-token

# Temporal API
CONTAINER_TEMPORAL_ADDRESS=host.docker.internal:7233

# Github token to read repos and create PR
TARGET_REPO_GITHUB_TOKEN=
